.app {
  padding: 15px;
  min-width: 320px;
  max-width: 400px;
  max-height: 800px;
  margin: 30px auto;
  border: 2px solid rgb(213, 213, 213);
  border-radius: 10px;
  background-image: url(./Background.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.app footer {
  text-align: center;
  padding: 0;
  margin: 0 auto;
}
