h1 {
  font-weight: bold;
  font-size: 50px;
}

h2 {
  padding: 0 0 20px 0;
}

h4 {
  font-weight: bold;
  padding: 0 0 0 0;
}

h3 {
  font-size: 40px;
}

.img-fluid {
  width: 200px;
}

.row {
  padding: 5px;
}

.row .weekDay .h2 {
  font-weight: 650;
}
.linkgit {
  text-align: center;
}
.weather-forecast-temperature-min {
  color: gray;
}
