.button-click {
  border: 2px solid white;
  border-radius: 5px;
  padding: 3px auto;
  margin: 2px 2px 2px 3px;
  color: rgb(13, 12, 12);
  background-color: rgb(254, 254, 254);
  opacity: 0.8;
  cursor: pointer;
}

.Weather {
  max-width: 550px;
}

.button-click:hover {
  opacity: 1;
}

.container h1 {
  margin: 10px auto;
}

.container h1,
h4,
.container2 {
  display: flex;
  justify-content: center;
}

.container h1 {
  font-weight: bold;
  font-size: 50px;
}

.container h2 {
  padding: 0 0 20px 0;
}

.container h4 {
  font-weight: bold;
  padding: 0 0 0 0;
}

.container h3 {
  font-size: 40px;
}

.container h4 {
  font-weight: bolder;
}

.container2 {
  font-size: 11px;
}

.container2 .active {
  color: black;
  cursor: default;
  text-decoration: none;
}

.container2 .active:hover {
  text-decoration: none;
}

.container3 {
  align-items: flex-start;
}

.img-fluid {
  width: 200px;
}

.row {
  padding: 5px;
}

.row .weekDay .h2 {
  font-weight: 650;
}
.linkgit {
  text-align: center;
}
.weather-forecast-temperature-min {
  color: gray;
}
