.button-click {
  border: 2px solid white;
  border-radius: 5px;
  padding: 10px auto;
  margin: 5px;
  color: rgb(13, 12, 12);
  background-color: rgb(254, 254, 254);
  opacity: 0.8;
  cursor: pointer;
}

.button-click:hover {
  opacity: 1;
}

h1 {
  font-weight: bold;
  font-size: 50px;
}

h2 {
  padding: 0 0 20px 0;
}

h4 {
  font-weight: bold;
  padding: 0 0 0 0;
}

h3 {
  font-size: 40px;
}

.img-fluid {
  width: 200px;
}

.row {
  padding: 5px;
}

.row .weekDay .h2 {
  font-weight: 650;
}
.linkgit {
  text-align: center;
}
.weather-forecast-temperature-min {
  color: gray;
}
