.weather-forecast {
  text-align: center;
}

.weather-forecast-day,
.weather-forecast-temperatures {
  font-size: 12px;
}

.weather-forecast-temperature-min {
  color: rgb(120, 119, 119);
  margin-left: 5px;
}

.week-forecast {
  text-align: start;
}
