.week-forecast {
  margin-bottom: 20px;
}

.week-forecast .row {
  white-space: nowrap;
  justify-content: space-evenly;
}

.weather-forecast-day,
.weather-forecast-temperatures {
  font-size: 13px;
}

.weather-forecast-temperature-min {
  color: rgb(120, 119, 119);
  margin-left: 5px;
}

.week-forecast {
  text-align: start;
}
